@import "tailwindcss";

@theme {
  --color-bg: #282c33;
  --color-primary: #abb2bf;
  --color-accent: #c778dd;
}

body {
  background-color: var(--color-bg);
  color: var(--color-primary);
  font-family: 'Fira Code', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}
